.container-form {
    width: 60%;
    margin: auto;
}

.submit-btn {
    background-color: black;
    color: white;
    outline: none;
    border: black;
    display: flex;
}
@media (min-width:1000px){

    .navbar-nav{
        position: absolute;
        right: 0;
        margin-right: 20px;
    }

}
body,p,h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway';
}