
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {

  font-family: 'Raleway';

}

* {
  box-sizing: border-box;

}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

/* https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRxfxGRGSOfGH2-Wy06er6iM9-1HpapxavB5w&usqp=CAU
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEWfqRHI7kSdiZPMkwxKc40ubg-uZo-Hl-O7RV7io4hDWcR9zBLQ&s);
style="background-image: url(https://image.freepik.com/free-vector/bright-orange-diagonal-lines-background_1017-14211.jpg);"
https://img.freepik.com/free-vector/orange-abstract-background-with-dark-light-straight-lines_132230-86.jpg?size=626&ext=jpg */




/* cards css */
.card-custom {
  overflow: hidden;
  min-height: 450px;
  max-width: 300px;
  margin: 13px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}

.card-date {
  border-radius: 50%;
  background-color: #f96d00;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 65px;
  height: 65px;
  font-weight: bold;
  box-shadow: 5px 5px 8px 5px #f8bb49;
}

.card-date .day{
  font-size: 25px;
  margin-top: 10px;
  margin-left: 20px;
  color: white;
}

.card-date .month{
  font-size: 18px;
  margin-top: 5px;
  margin-left: 18px;
  color: white;
}

.icons {
  background: #f5be09;
  text-decoration: none;
  padding: 9px 10px;
  border-radius: 5px;
  color: #FFF !important;
}

.icons:hover{
  text-decoration: none;

}

.bottom-details {
  position: absolute;
  bottom: 0;
  color: white;
}

.pay-btn {
  background: #f96d00;
  text-decoration: none;
  padding: 9px 25px;
  border-radius: 5px;
  color: #FFF ;
  outline: 1px;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

.pay-btn:hover{
  background-color: black;
  text-decoration: none;
}


/* current affairs section css */

.current-card{
  overflow: hidden;
  min-height: 450px;
  max-width: 300px;
  margin: 14px;
}


.container-current {
  overflow: hidden;
  background: #ffffff;
  position: relative;
  border: 5px solid #f96d00;
  border-radius: 0 0 5px 5px;
}

.slider {
  top: 1em;
  position: relative;
  box-sizing: border-box;
  animation: slider 15s linear infinite;
  list-style-type: none;
  text-align: center;
}

.slider:hover {
  animation-play-state: paused;
}

@keyframes slider {
  0%   { top:   10em }
  100% { top: -16em }
}

.blur .slider {
  margin: 0;
  padding: 0 1em;
  line-height: 1.5em;
}

.blur:before, .blur::before,
.blur:after,  .blur::after {
  left: 0;
  z-index: 0;
  content: '';
  position: absolute;
  width: 100%; 
  height: 2em;
  background-image: linear-gradient(180deg,#FFF, rgba(255,255,255,0));
}

.blur:after, .blur::after {
  bottom: 0;
  transform: rotate(180deg);
}

.blur:before, .blur::before {
  top: 0;
}

p {
font-family: helvetica, arial, sans serif;
}


/* current affairs section end */    
  

  
  h1 {
    margin: 10px 20px;
    padding-left: 40px;
  }
  
