body,p,h1,h2,h3,h4,h5,h6{
  font-family: 'Raleway';
}
.right {
    float: right;
    position: relative;
    top: 6px;
  }
  
  .top {
    margin-top: -25px;
  }
  
  .btn-leaderboard{
    margin-top: -55px;
    color: #fff;
    background: #f96d00;
    outline: 0em;
    border: none;
    border-radius: 5px;
    padding: 4px 10px;
  }

  
.ul-list {
    margin: 0 auto;
    padding: 0;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 5px 0 5px;
    border-left: none;
    border-right: none;
    margin-bottom: 50px;
  }
  
.li-list {
    list-style: none;
    background-color: #ffffff;
    background-image: 
      linear-gradient(
        90deg,
        #f96d00	 10px,
        #fff 10px,
        #fff 11px,
        transparent 11px);
    padding: 10px 15px 10px 25px;
    border: 1px solid #f96d00;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
    margin-top: 15px ;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;
  }

  .dailyquizhead{
    display: inline;
  }

  @media (min-width:1000px){

    .navbar-nav{
        position: absolute;
        right: 0;
        margin-right: 20px;
    }

}

@media (max-width:500px){

  .dailyquizhead{
    display: block;
    width: 200px;
  }
  .btn-leaderboard{
    margin-left: auto;
    margin-right: auto;
  }

}