
#timer{
    padding: 2px 5px 3px 5px;
    background-color: #21ab2c;
    border-radius: 5px;
    color: white;
}


.circular-btn{
    border-radius: 10px;
    font-size: 14px;
    color: black;
}


#exam-section{
    display: none;
}

#all-ques-area{
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#nav-btn-section{
    width: 100%;
    position: relative;
}

#submit-btn{
    margin-left: 375px;
}

.btn-primary{
    border-color: white;
}
.btn-primary:hover{
    border-color: white;
}

#summary-section{

    border: 1px solid black;
    border-radius: 3px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


#all-ques-area{
    border: 20px bold black;
}

.summary-row{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}


#end-section{
    display: none;
}
