:root {
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --shadow-color: 0px 10px 30px rgba(1, 1, 2, 0.3);
    --shadow2-color: 0px 10px 30px rgba(1, 1, 2, 0.1);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    --primary1-color:#f2f2f2;
    --primary2-color:#f96d00;
    --primary3-color:#393e46;
    --primary4-color:#222831;
}

/*  Theme colors  */
.w3-theme-l5 {color:#000 !important; background-color:#eaecf8 !important}
.w3-theme-l4 {color:#000 !important; background-color:#bac1e9 !important}
.w3-theme-l3 {color:#fff !important; background-color:#7482d2 !important}
.w3-theme-l2 {color:#fff !important; background-color:#394bb1 !important}
.w3-theme-l1 {color:#fff !important; background-color:#232e6c !important}
.w3-theme-d1 {color:#fff !important; background-color:#0b0f23 !important}
.w3-theme-d2 {color:#fff !important; background-color:#0a0d1f !important}
.w3-theme-d3 {color:#fff !important; background-color:#090b1b !important}
.w3-theme-d4 {color:#fff !important; background-color:#070a17 !important}
.w3-theme-d5 {color:#fff !important; background-color:#060813 !important}

.w3-theme-light {color:#000 !important; background-color:#eaecf8 !important}
.w3-theme-dark {color:#fff !important; background-color:#060813 !important}
.w3-theme-action {color:#fff !important; background-color:#060813 !important}

.w3-theme {color:#fff !important; background-color:#0d1128 !important}
.w3-text-theme {color:#0d1128 !important}
.w3-border-theme {border-color:#0d1128 !important}
.w3-orange-color {color: #fd5f00 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#0d1128 !important}
.w3-hover-text-theme:hover {color:#0d1128 !important}
.w3-hover-border-theme:hover {border-color:#0d1128 !important}



.sec-heading{
    text-shadow: var(--shadow-color);
}

body{
    font-family: 'Raleway';
}


/*  Start Navbar Area  */


/*  End Navbar Area  */






/*  Start Banner Area  */

.container-current {
    overflow: hidden;
    background: #ffffff;
    position: relative;
    border: 5px solid #f96d00;
    border-radius: 0 0 5px 5px;
}

.slider {
    top: 1em;
    position: relative;
    box-sizing: border-box;
    animation: slider 15s linear infinite;
    list-style-type: none;
    text-align: center;
}

.slider:hover {
    animation-play-state: paused;
}

@keyframes slider {
    0%   { top:   10em }
    100% { top: -16em }
}

.blur .slider {
  	margin: 0;
    padding: 0 1em;
    line-height: 1.5em;
}

.blur:before, .blur::before,
.blur:after,  .blur::after {
    left: 0;
    z-index: 0;
    content: '';
    position: absolute;
    width: 100%; 
    height: 2em;
    background-image: linear-gradient(180deg,#FFF, rgba(255,255,255,0));
}

.blur:after, .blur::after {
    bottom: 0;
    transform: rotate(180deg);
}

.blur:before, .blur::before {
    top: 0;
}

p {
  font-family: helvetica, arial, sans serif;
}

/* End Banner area */









/*  Start Courses Area  */

.w3-row-padding{
    display: flex;
    justify-content: space-between;
}
.courses-btn{
    background-color: var(--primary2-color);
    color: var(--primary1-color);
    border-radius: 6px;
}

.course-card{
    border-radius: 12px;
    padding: 20px;
    box-shadow: var(--shadow-color);

}
/*  End Courses Area  */



/*  Start Quizzes Area  */

.w3-row-padding{
    display: flex;
    justify-content: space-between;
}
.courses-btn{
}
/*  End Quizzes Area  */




/*  Start quarter Area  */

.quarter-sec{
    font-family: 'Raleway';
    color: var(--primary1-color);
    background-color: var(--primary2-color);
}
/*  End quarter Area  */

.card-img-bottom {
    color: #fff;
    height: 20rem;
    background-size: cover;
  }

/* current affairs section css */
.right {
    float: right;
    position: relative;
    top: 6px;
  }
  
  .top {
    margin-top: -30px;
  }
  

  
.ul-list {
    margin: 0 auto;
    padding: 0;
    max-height: 390px;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 5px 0 5px;
    border-left: none;
    border-right: none;
    margin-bottom: 50px;
  }
  
.li-list {
    list-style: none;
    background-color: #ffffff;
    background-image: 
      linear-gradient(
        90deg,
        #0000ff	 10px,
        #fff 10px,
        #fff 11px,
        transparent 11px);
    padding: 10px 15px 10px 25px;
    border: 1px solid #0000ff;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
    margin-top: 15px ;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;
  }

/* current affairs section end */    